

a {
    color: #8000ff;
}
a:hover {
    color: #4d0099;
}


.bg-primary {
	background-color: #b366ff !important; 
}
.btn-primary {
    background-color: #8525e6!important;
    border-color: #8525e6;
}
.btn-primary:hover {
    background-color: #b366ff !important;
    border-color: #8525e6;
}


body {
    background-color: #fefafd;
    background-image: url("../img/PaperBG.jpg");
    background-repeat: repeat;
}